<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ asset('public/css/style.css') }} ">
	<title>Flickr and other things</title>
</head>

	<h1>FLICKR MA GUEULE</h1>

	

<body>

</body>

</html>